[core]
  pager = diff-so-fancy | less --tabs=4 -RFX

[diff]
  colorMoved = default

[ghq]
  vcs = git
  root = ~/Code

[init]
  defaultBranch = main

[merge]
  conflictStyle = diff3
  tool = vimdiff

[mergetool]
  keepBackup = false

[pull]
  rebase = true

[rebase]
  autoStash = true

[push]
  default = current

[user]
  name = Joschka
  email = joschka@users.noreply.github.com

[includeIf "gitdir:~/Code/github.com/digitalservice4germany/"]
  path = ~/.gitconfig_professional
