[alias]
  ai = add --interactive
  ap = add --patch
  br = branch
  ca = commit --amend
  can = commit --amend --no-edit
  ci = commit --verbose
  cm = commit -m
  co = checkout
  cp = cherry-pick
  ds = diff --staged
  lgf = log --patch --follow --
  rb = rebase
  s = status --short --branch
  sta = stash --include-untracked
  uc = reset --soft HEAD^1
  uc2 = reset --soft HEAD^2
  uc3 = reset --soft HEAD^3
  uc4 = reset --soft HEAD^4
  uc5 = reset --soft HEAD^5
  ucm = reset --soft main

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX

[diff]
  colorMoved = default

[ghq]
  vcs = git
  root = ~/Code

[init]
  defaultBranch = main

[merge]
  conflictStyle = diff3
  tool = vimdiff

[mergetool]
  keepBackup = false

[push]
  default = current

[user]
  name = {{ (onepasswordItemFields "dotfiles").gitconfig_default_name.v }}
  email = {{ (onepasswordItemFields "dotfiles").gitconfig_default_email.v }}

[includeIf "gitdir:~/Code/github.com/digitalservice4germany/"]
  path = ~/.gitconfig_professional

[includeIf "gitdir:~/Code/github.com/joschka/"]
  path = ~/.gitconfig_personal
